#set($pageTitle="交易信息")
#set($title="交易信息")

#extends("/page/layout/default.vm")

#block("header")
#widget("/widget/header/header.vm")
#end

#block("sidebar")
#widget("/widget/sidebarmenus/sidebarmenus.vm" "var:menus=$menus")
#end

#block("content")
交易信息
#end
#end