#set($pageTitle="广告位管理")
#set($title="广告位管理")

##searchbox属性设置
#set($searchBoxId = 'J-search-position')
#set($searchBoxPlaceholder = '广告位ID/广告位名称')

#set($searchBoxHasKey = false)


#extends("/page/layout/default.vm")

    #block("content")
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="m-bread"><a href="">广告位管理</a></div>
                </div>
                <div class="col-md-12">
                    <a href="JavaScript:void(0)" class="btn btn-primary J-btn-add-adPos">新建广告位</a>
                    #widget("/widget/searchbox/searchbox.vm")
                </div>
            </div>

            <div class="row mt10">
                <div class="col-md-12 J-ad-pos-list">

                </div>
            </div>
        </div>
    #end

    #script()
        require(['./adPosition']);
    #end
#end