<table class="table table-list">
    <thead>
        <tr><th>素材ID</th> <th>素材名称</th><th>缩略图</th><th>素材URL</th><th>点击跳转(URL)</th> <th>操作</th> </tr>
    </thead>
    <tbody>
        <% if (list.length>0) { %>
            <% _.forEach(list, function(item) { %>
                <tr data-type="<%- item.type %>" data-id="<%- item.id %>" data-horizontalImg="<%- item.horizontalImg %>" data-verticalImg="<%- item.verticalImg %>" data-videoUrl="<%- item.videoUrl %>" data-webUrl="<%- item.webUrl %>">
                    <td><%- item.id %></td>
                    <td class="ad-matter-name"><%- item.name %></td>
                    <td>
                        <div class="img-thumb">
                             <div class="img-thumb ">
                                <% if (item.type === 3) { %>
                                    <img class="J-btn-matter-view" src="/static/i/default.jpg" onerror="this.src='/static/i/default.jpg'">
                                <% } else { %>
                                    <img class="J-btn-matter-view" src="<%- item.thumbnail %>" onerror="this.src='/static/i/default.jpg'">
                                <% } %>
                            </div>
                        </div>
                    </td>
                    <td><%- item.videoUrl %></td>
                    <td><%- item.webUrl %></td>
                    <td class="td-last">
                        <div class="operate"><a  href='./matter/detail?id=<%- item.id %>'>修改</a>	<a href="javascript:void(0)" class="J-btn-adPos-del">删除</a></div>
                    </td>
                </tr>
            <% }); %>
        <% } else{ %>
            <tr><td colspan="6" style="padding:70px 0;">无素材,点击新建素材</td></tr>
        <% } %>
        </tr>
    </tbody>
</table>
<div class="f-cb"></div>