<div class="modal fade">
    <div class="modal-table">
        <div class="modal-table-cell">
            <div class="modal-dialog <%= size %>">
                <div class="modal-content modal-notice">
                    <div class="modal-body">
                        <p class="notice-icon notice-<%= errorLevel %> "></p>
                        <p><%= content %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>