##searchbox属性设置
### set($searchBoxPlaceholder = '')
### set($searchBoxId = '')
##
### set($searchBoxHasKey = true)  //如果有搜索分类,则同时需要设置$searchBoxMainKey 和 $searchBoxKeyItems
### set($searchBoxMainKey = { 'name':'广告ID' })
### set($searchBoxKeyItems = [{ 'name':'广告名称' }, { 'name':'广告位名称' }, { 'name':'素材名称' }])

#if ($searchBoxId)
    <div class="search-box f-fr J-search-box $searchBoxId">
        #if($searchBoxHasKey)
            <div class="search-cat">
                <div class="search-cat-mt">
                    $searchBoxMainKey.name
                </div>
                <span class="search-arrow glyphicon glyphicon-triangle-bottom"></span>
                <div class="search-cat-cnt">
                    <ul>
                        #foreach( $item in $searchBoxKeyItems )
                            <li>
                                $item.name
                            </li>
                        #end
                    </ul>
                </div>
            </div>
        #end
        <input type="text" class="search-ipt" onkeyup='this.value=this.value.replace(/[^1-9]\D*$/,"")'  placeholder="$searchBoxPlaceholder"  />
        <a href="javascript:void(0)" class="search-submit J-search-submit">
            查询
        </a>
    </div>

    #require("./searchbox.scss")
    #script()
        require(['./searchbox']);
    #end
#end