<div class="matter-view-box">
        <% type === '1' %>
        <% if(type === '1') { %>

            <div id="matterViewsImg" class="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                        <% _.forEach(content, function(item,i) { %>
                              <div class="item <% if(i == 0){ %> active <% } %>">
                                   <img src="<%- item.horizontalImg %>" alt="Third slide">
                              </div>
                          <% }); %>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#matterViewsImg" data-slide="prev"></a>
                <a class="carousel-control right" href="#matterViewsImg" data-slide="next"></a>
            </div>

        <% } else { %>
            <div id="matterViewsVideo">
                <video poster="http://www.jq22.com/demo/src/mi4.png" controls="controls"  id="video">
                    <source src="http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm"/>
                    Your browser does not support the video tag.
                </video>
            </div>
        <% }  %>
</div>
<div class="matter-view-mask"></div>